In [8]:
import psycopg

with psycopg.connect("postgresql://timescaledb:password@localhost:5432") as conn:
    # Open a cursor to perform database operations
    with conn.cursor() as cur:
        # Execute a command: this creates a new table
        cur.execute("""
            CREATE TABLE test (
                id serial PRIMARY KEY,
                num integer,
                data text)
            """)

DuplicateTable: relation "test" already exists

In [90]:
with psycopg.connect("postgresql://timescaledb:password@localhost:5432") as conn:
    # Open a cursor to perform database operations
    with conn.cursor() as cur:
        t=1
    # Pass data to fill a query placeholders and let Psycopg perform
        # the correct conversion (no SQL injections!)
        cur.execute(
            "INSERT INTO test (num, data) VALUES (%s, %s)",
            (100+t, "abc'def"))

        # Query the database and obtain data as Python objects.
        cur.execute("SELECT * FROM test")
        cur.fetchone()
        # will return (1, 100, "abc'def")

        # You can use `cur.fetchmany()`, `cur.fetchall()` to return a list
        # of several records, or even iterate on the cursor
        for record in cur:
            print(record)

        # Make the changes to the database persistent
        conn.commit()

(2, 100, "abc'def")
(3, 100, "abc'def")
(4, 100, "abc'def")
(5, 100, "abc'def")
(20198, 100, "abc'def")
(20199, 100, "abc'def")
(20200, 100, "abc'def")
(20201, 101, "abc'def")
(20202, 101, "abc'def")
(20203, 101, "abc'def")
(20204, 101, "abc'def")
(20205, 101, "abc'def")
(20206, 101, "abc'def")
(20207, 101, "abc'def")
(20208, 101, "abc'def")
(20209, 101, "abc'def")
(20210, 101, "abc'def")
(20211, 101, "abc'def")

In [94]:
with psycopg.connect("postgresql://timescaledb:password@localhost:5432") as conn:
    # Open a cursor to perform database operations
    with conn.cursor() as cur:
    
    # Pass data to fill a query placeholders and let Psycopg perform
        # the correct conversion (no SQL injections!)
        cur.execute(
            """CREATE TABLE measuredData (
   time        TIMESTAMPTZ       NOT NULL,
   I1          DOUBLE PRECISION  NOT NULL,
   I2          DOUBLE PRECISION  NOT NULL,
   I3          DOUBLE PRECISION  NOT NULL,
   I4          DOUBLE PRECISION  NOT NULL,
   I5          DOUBLE PRECISION  NOT NULL,
   I6          DOUBLE PRECISION  NOT NULL,
   V1          DOUBLE PRECISION  NOT NULL, 
   V2          DOUBLE PRECISION  NOT NULL,
   V3          DOUBLE PRECISION  NOT NULL,
   V4          DOUBLE PRECISION  NOT NULL,
   V5          DOUBLE PRECISION  NOT NULL,
   V6          DOUBLE PRECISION  NOT NULL,
   temperature DOUBLE PRECISION  NOT NULL,
   humidity    DOUBLE PRECISION  NOT NULL,
   state       varchar(255)      NOT NULL
    );"""
)

DuplicateTable: relation "measureddata" already exists

In [81]:
with psycopg.connect("postgresql://timescaledb:password@localhost:5432") as conn:
    # Open a cursor to perform database operations
    with conn.cursor() as cur:
    
    # Pass data to fill a query placeholders and let Psycopg perform
        # the correct conversion (no SQL injections!)
        cur.execute("SELECT create_hypertable('conditions', 'time', if_not_exists => TRUE);")

FeatureNotSupported: table "conditions" is not empty
HINT:  You can migrate data by specifying 'migrate_data => true' when calling this function.

In [82]:
with psycopg.connect("postgresql://timescaledb:password@localhost:5432") as conn:
    # Open a cursor to perform database operations
    with conn.cursor() as cur:
    
    # Pass data to fill a query placeholders and let Psycopg perform
        # the correct conversion (no SQL injections!)
        cur.execute("CREATE EXTENSION IF NOT EXISTS timescaledb CASCADE;")

In [92]:
import psycopg
from time import sleep


with psycopg.connect("postgresql://timescaledb:password@localhost:5432") as conn:
    # Open a cursor to perform database operations
    with conn.cursor() as cur:
        t = 1
        # Pass data to fill a query placeholders and let Psycopg perform
        # the correct conversion (no SQL injections!)
        while True:
            cur.execute(
                    "INSERT INTO conditions (temperature, time, device, location, humidity) VALUES (%s , now(), 0,0, 0)", 
                    (102+t,))
            
            conn.commit()

                # Query the database and obtain data as Python objects.
                #cur.execute("SELECT * FROM test")

            t += 1
            if t == 200: break
            sleep(0.02)
            print(t)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

('asdfa (%s)', 10)